.content {
  position: relative;
  bottom: 60px;
  margin: 0px 0 0 232px;
  display: flex;
}

.vertical-line {
  rotate: 90deg;
  width: 59px;
  height: 3px;
  background: #29abe2;
  margin: 15px;
  z-index: -1;
}

.contact-container {
  width: 456px;
  height: calc(100vh - 80px);
  background: #fff;
  overflow-y: auto;
  padding: 22px 52px;
  z-index: 1;
  box-shadow: 4px -1px 4px rgba(0, 0, 0, 0.1);
}

.add-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  width: 100%;
  padding: 10px;
  background: #2f3b4a;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 8px;
  cursor: pointer;
}

.add-btn:hover {
  background: #29abe2;
  box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.add-btn:active {
  background: #091931;
}

.letter {
  font-weight: regular;
  font-size: 20px;
  padding: 17px 36px 25px 36px;
  margin-bottom: 8px;
  border-bottom: 1px solid #d1d1d1;
}

.contact {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 15px 24px;
  width: 100%;
  cursor: pointer;
  gap: 35px;
}

.active {
  background: #2f3b4a;
  color: white;
  border-radius: 10px;
}

.contact:not(.active):hover {
  background: linear-gradient(#f9f9f9, #f0f0f0);
  border-radius: 10px;
}

.avatar {
  width: 42px;
  height: 42px;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid white;
  background: orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-weight: 400;
  font-size: 20px;
  max-width: 208px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email {
  color: #29abe2;
  font-size: 16px;
  text-decoration: none;
}

.phone {
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

.detail-container {
  flex: 1;
  padding: 110px 0 0 55px;
}

.details-header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.details-header h1 {
  font-size: 61px;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 27px;
  color: #2a3647;
}

.contact-detail-card {
  margin-top: 20px;
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.contact-detail-card.slide-in {
  transform: translateX(0);
  opacity: 1;
}

.detail-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.detail-avatar {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  border: 3px solid white;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 41px;
}

.detail-name {
  font-size: 47px;
  font-weight: normal;
}

.detail-actions {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
  display: flex;
  gap: 10px;
}

.detail-section {
  margin-top: 30px;
}

.detail-label {
  margin: 21px 0;
  font-size: 20px;
  height: 74px;
  line-height: 74px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 22px;
}

.detail-label-email,
.detail-label-phone {
  font-weight: bold;
  font-size: 16px;
}

.edit-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  gap: 13px;
  min-width: 80px;
}

.edit-btn:hover {
  color: #29abe2;
  font-weight: bold;
}

.edit-icon,
.delete-icon {
  width: 24px;
  height: 24px;
  background-size: contain;
}

.edit-icon {
  background: url('../assets/img/contacts/edit.svg') no-repeat center center;
}

.edit-btn:hover .edit-icon {
  background: url('../assets/img/contacts/edit-hover.svg') no-repeat center center;
}

.edit-btn:hover .delete-icon {
  background: url('../assets/img/contacts/delete-hover.svg') no-repeat center center;
}

.delete-icon {
  background: url('../assets/img/contacts/delete.svg') no-repeat center center;
}