.legal-page {
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.legal-header {
    margin-bottom: 40px;
}

.legal-header h1 {
    font-size: 61px;
    font-weight: 700;
    margin: 0;
}

.legal-page h2 {
    font-size: 27px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 24px;
}

.legal-page p, .legal-page ul {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 24px;
}

.legal-page ul {
    list-style-position: inside;
    padding-left: 0;
}

.legal-highlight {
    color: #29abe2;
    text-decoration: none;
}