@media (max-width: 1445px) {
  .board-column__cards {
    height: unset;
  }
}

@media (max-width: 1100px) {
  .board-page-body .main-content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    min-height: auto;
  }

  .main-title {
    text-align: left;
  }

  .board-header {
    margin-top: 8px;
    margin-bottom: 24px;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  .board-header__title {
    font-size: 47px;
  }

  .board-header__actions {
    width: 100%;
    gap: 16px;
    justify-content: space-between;
  }

  .board-header__search {
    width: 100%;
    flex: 1;
  }

  .board-header__add-btn {
    width: 48px;
    padding: 0;
    justify-content: center;
    font-size: 0;
  }

  .board-header__add-btn .plus {
    font-size: 32px;
    margin: 0;
  }

  .board-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
  }

  .board-header__actions {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
  }

  .board-header__search {
    width: 100%;
  }

  .board-header__add-btn {
    position: absolute;
    top: 8px;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    justify-content: center;
    font-size: 0;
  }

  .board-header__add-btn .plus {
    margin: 0;
    font-size: 44px;
  }

  .board {
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  .board-column {
    width: 100%;
    gap: 12px;
  }

  .board-column__cards {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 16px;
  }

  .board-column__cards::-webkit-scrollbar {
    display: none;
  }

  .task-card {
    min-width: 250px;
    flex-shrink: 0;
  }

  .board-column__empty {
    width: 100%;
  }

  #taskModal {
    width: calc(100% - 32px);
    max-height: 85vh;
  }

  .modal-content {
    padding: 24px;
  }

  .modal-content h1 {
    font-size: 40px;
  }

  .board-page-body .mobile-topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3000;
  }

  /* .board-page-body .main-content {
    padding-top: 80px;
  } */
}

@media (max-width: 800px) {
  .task-form-prio-group {
    flex-direction: column;
  }

  .board {
    padding-bottom: 0;
  }

  .addTask-dialog {
    margin: 0;
    width: 100vw;
    height: 100vh;
    max-width: none;
    max-height: none;
    overflow-y: auto;
  }

  .btn-action-wrapper {
    padding-bottom: clamp(16px, calc(-50.783px + 20.87vw), 64px);
    gap: 30px;
  }

  .addTask-dialog {
    padding: clamp(16px, calc(-50.783px + 20.87vw), 64px)
      clamp(8px, calc(-83.826px + 28.696vw), 74px) 0;
  }
}

@media (max-width: 430px) {
  .board-page-body .main-content {
    padding: 40px 16px 0;
  }

  .board {
    padding-bottom: 50px;
    gap: 0px;
  }

  .board-header__actions {
    gap: 12px;
  }

  .board-header__search {
    height: 40px;
    padding: 8px 12px;
  }

  .board-header__search input::placeholder {
    font-size: 16px;
  }

  .board-header__add-btn {
    height: 40px;
    width: 40px;
    min-width: 40px;
  }

  .board-column__title {
    font-size: 18px;
  }

  .board-column__cards {
    padding-bottom: 50px;
  }

  .task-card {
    border-radius: 20px;
    padding: 16px;
  }

  .task-card__category {
    font-size: 14px;
  }

  .task-card__description {
    font-size: 14px;
  }

  .task-card__progress-label {
    font-size: 12px;
  }

  .progress-bar {
    width: 128px;
  }

  #taskModal {
    width: calc(100% - 24px);
  }

  .modal-content h1 {
    font-size: 32px;
  }

  .task-category {
    font-size: 18px;
  }

  .task-description,
  .info p {
    font-size: 16px;
  }
}
