#sidebar-container {
  width: 232px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.sidebar {
  height: 100%;
  width: 100%;
  background-color: #2a3647;
  color: #a8b2c1;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  z-index: 10;
}

.sidebar-logo-container {
  display: flex;
  justify-content: center;
  padding: 64px 0;
  margin-bottom: 32px;
}

.sidebar-logo {
  width: 100px;
  height: auto;
}

.sidebar-main-content {
  flex-grow: 1;
}

#sidebar-nav-guest {
  display: none;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-bottom: 15px;
}

.nav-item a,
.nav-item button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #cdcdcd;
  padding: 8px 56px;
  transition: background-color 0.1s ease;
}

.nav-item a.active,
.nav-item button.active {
  background-color: #091931;
}

.nav-item a:hover,
.nav-item button:hover {
  background-color: #2a3d59;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.nav-icon-login {
  height: 26px;
  width: 26px;
  margin-right: 12px;
}

.nav-text {
  font-size: 16px;
  font-weight: 400;
}

.sidebar-footer {
  margin-top: auto;
  margin-bottom: 48px;
}

.sidebar-footer-nav ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-btn-desktop {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item-footer a.active {
  background-color: #091931;
}

.nav-item-footer a:hover {
  background-color: #2a3d59;
}

.nav-item-footer a,
.nav-item-footer button {
  display: flex;
  text-decoration: none;
  color: #a8a8a8;
  font-size: 16px;
  transition: background-color 0.1s ease;
  padding: 8px 56px;
}

.nav-text-login {
  padding: 0;
}

.mobile-bottom-nav {
  display: none;
}

@media (max-width: 1100px) {
  .login-btn {
    background-color: transparent;
    border: none;
  }

  #sidebar-container {
    display: none;
  }

  .mobile-bottom-nav {
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0 16px;
    bottom: 0;
    width: 100%;
    height: 80px;
    background: #2a3647;
    z-index: 1;
  }

  .mobile-bottom-nav.mobile-nav-visible {
    display: flex;
  }

  .mobile-bottom-nav__right {
    display: flex;
  }

  .mobile-bottom-nav a,
  .mobile-bottom-nav button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: #cdcdcd;
    padding: 0 12px;
    height: 76px;
  }

  .mobile-bottom-nav a.active,
  .mobile-bottom-nav button.active {
    background-color: #091931;
    border-radius: 8px;
  }

  .mobile-bottom-nav span {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  .mobile-bottom-nav a {
    color: #fff;
  }

  .mobile-bottom-nav__icon img {
    width: 18px;
    height: 18px;
    object-fit: contain;
  }
}

@media (max-width: 356px) {
  .mobile-bottom-nav span {
    font-size: 14px;
    white-space: nowrap;
  }
}

@media (max-width: 345px) {
  .mobile-bottom-nav.mobile-nav-visible {
    padding: 0;
  }
}
