body {
    display: flex;
    width: 100vw;
    background-color: #f5f7f7;
    margin: 0;
}

aside {
    width: 25%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: opacity 1s ease-in-out forwards;
    width: 100%;
}

header {
    display: flex;
    justify-content: flex-end;
    margin: 30px 30px 0 0;
}

header p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    font-size: 25px;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 7px 1px lightgrey;
}

h1 {
    font-size: 50px;
}

.seperator {
    height: 3px;
    width: 110px;
    background-color: rgb(93, 175, 203);
}

.checkbox-remember {
    display: flex;
    gap: 15px;
}

.checkbox-remember a {
    color: rgb(93, 175, 203);
}

.login {
    display: flex;
    gap: 25px;
}

.aside-logo img {
    width: 100%;
    margin: 50px;
}

.aside-logo {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    animation: logoMovement 1s ease-in-out forwards;
    position: absolute;
}

@keyframes logoMovement {
    from {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        opacity: 0;
    }
    to {
        top: 20px;
        left: 60px;
        transform: translate(0, 0);
        width: 100px;
        opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sign-up-button {
    border-radius: 5px;
    background-color: var(--color-primary);
    color: white;
    height: 35px;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.log-in-button {
    border-radius: 5px;
    background-color: var(--color-primary);
    color: white;
    height: 45px;
    width: 150px;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.guest-log-inbutton {
    border-radius: 5px;
    background-color: white;
    color: gray;
    height: 45px;
    width: 150px;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid gray;
    cursor: pointer;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input input {
    border-radius: 5px;
    height: 40px;
    width: 300px;
    border: 1px solid rgb(236, 230, 230);
}