:root {
  --color-bg: #f6f7f8;
  --color-primary: #2a3647;
  --color-accent: #29abe2;
  --color-white: #ffffff;
  --color-border: #d1d1d1;
  --color-text: #2a3647;
  --color-muted: #a8b2c1;
  --color-urgent: #ff3d00;
  --color-medium: #ffa800;
  --color-low: #7ae229;
  --color-error: #E60026;
  --radius: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/font/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/font/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-style: italic;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  min-width: 1000px;
}

.main-content {
  margin-left: 232px;  
  margin-top: 80px;
  padding: 40px 60px;  
  min-height: calc(100vh - 80px);
  box-sizing: border-box;
  max-width: 1440px; 
}